<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Swatches\Block\LayeredNavigation\RenderLayered"
                type="CzoneTech\ImprovedCatalogSearch\Block\LayeredNavigation\RenderLayered"/>
    <preference for="Magento\Catalog\Model\Layer\Filter\Attribute"
                type="CzoneTech\ImprovedCatalogSearch\Model\Layer\Filter\Attribute"/>
    <preference for="Magento\Catalog\Model\Layer\Filter\Item"
                type="CzoneTech\ImprovedCatalogSearch\Model\Layer\Filter\Item"/>
    <preference for="Magento\Catalog\Model\ResourceModel\Layer\Filter\Attribute"
                type="CzoneTech\ImprovedCatalogSearch\Model\ResourceModel\Layer\Filter\Attribute"/>
    <preference for="Magento\Swatches\Helper\Data"
                type="CzoneTech\ImprovedCatalogSearch\Helper\Data"/>
    <type name="\Magento\CatalogSearch\Model\Layer\Filter\Attribute">
        <plugin name="CzoneTech_ImprovedCatalogSearch_filter_attribute_plugin"
                type="\CzoneTech\ImprovedCatalogSearch\Plugin\Attribute" disabled="false" />
    </type>

</config>